<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <script type="module" src="/js/authpage.js"></script>
    <link rel="stylesheet" href="css/authInfo.css" />
</head>
<body>
    <h1>THIS IS THE AUTHENTICATION PAGE</h1>

    <!--POST REQUREST since the server needs to records the login history.-->
    <form id="loginForm" method = "POST" action="/auth/login">
        <input type="text" id="loginEmail" 
        name="emailInput" value="" 
        placeholder="Email" required>

        <input type="text" id="loginPwd" 
        name="pwdInput" value = "" 
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}"
        title="8 characters long, include at least one uppercas letter, one lower case letter, a number and a symbol."
        placeholder="Password" required>
        
        <input type="submit" value="Login">
    </form>

    <!--POST REQUREST since the server needs to records the login history.-->
    <form id="signupForm" method = "POST" action="/auth/signup">
        <input type="text" id="signupEmail" 
        name="emailInput" value="" 
        placeholder="Email" required>

        <input type="text" id="signupFN" 
        name="firtNameInput" value = "" 
        placeholder="First Name" required>

        <input type="text" id="signupLN" 
        name="lastNameInput" value = "" 
        placeholder="Last Name" required>

        <input type="text" id="signupPwd" 
        name="pwdInput" value = "" 
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}"
        title="8 characters long, include at least one uppercas letter, one lower case letter, a number and a symbol."
        placeholder="Password" required>

        <input type="submit" value="Login">
    </form>
    
</body>
</html>