<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OldPhoneDeals</title>
    <script src="/js/homepage.js"></script>
</head>
<body>
    <h1>OldPhoneDeals Home</h1>
    
    <div id="topbar">

    </div>

    <div class = "search">
        <form class = "search" method="POST" action="/search">
            <input type="text" id="search" placeholder="Search here" required>
            <input type="submit" value="Search">
            <input type="reset" value="Clear">
        </form>
    </div>

    <div>
        <table id = "searchResult">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Brand</th>
                    <th>Image</th>
                    <th>Stock</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Reviews</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>

</body>
</html>