<div *ngIf="phone; else loading">
    <h2>{{ phone.title }}</h2>
    <img [src]="phone.image" alt="{{ phone.title }}" width="150" />
    <p><strong>Brand:</strong> {{ phone.brand }}</p>
    <p><strong>Price:</strong> ${{ phone.price }}</p>
    <p><strong>Stock:</strong> {{ phone.stock }}</p>
    <p><strong>ID:</strong> {{ phone._id }}</p>
    <p><strong>Current Added Quantity:</strong> {{ currentQuantity }}</p>

    <div *ngIf="!showQuantityInput; else quantityInput">
        <button (click)="triggerAddToCart()">Add to Cart</button>
    </div>
  
    <ng-template #quantityInput>
        <div style="margin-top: 10px;">
        <label>Enter Quantity: </label>
        <input type="number" [(ngModel)]="quantity" min="1" style="width: 60px;" />
        <button (click)="confirmAddToCart()">✔ Confirm</button>
        <button (click)="cancelAdd()">✖ Cancel</button>
        </div>
    </ng-template>
  
    <button (click)="addToWishlist()">Add to Wishlist</button>
    <button (click)="goBack()" style="margin-left: 10px"> Back </button>
  </div>
  
  <ng-template #loading>
    <p>Loading product...</p>
  </ng-template>
  