<h2>📱 Welcome to OldPhoneDeals</h2>
<button (click)="goToCart()">🛒 Go to Shopping Cart</button>
<button (click)="goToWishlist()">💖 View Wishlist</button>

<div *ngIf="phones.length > 0; else noData">
  <div 
    *ngFor="let item of phones" 
    class="phone-card" 
    (click)="goToDetail(item._id)" 
    style="cursor: pointer;"
  >
    <img [src]="item.image" alt="{{ item.title }}" width="100" />
    <h3>{{ item.title }}</h3>
    <p><strong>Brand:</strong> {{ item.brand }}</p>
    <p><strong>Price:</strong> ${{ item.price }}</p>
    <p><strong>Stock:</strong> {{ item.stock }}</p>

    <button (click)="addToCart(item); $event.stopPropagation()">+ Add to Cart</button>
    <button (click)="addToWishlist(item); $event.stopPropagation()">💖 Add to Wishlist</button>


  </div>
</div>

<ng-template #noData>
  <p>No phones available.</p>
</ng-template>
